* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-background-color: #EAEDF0;
    --section-background-color: #F6F7F8;
    --font-family: "Helvetica", "Arial", sans-serif;
    --font-size_16: 16px;
    --border-style: 1px solid #D6D9DC;
}

body {
    color: #5D6063;
    background-color: var(--body-background-color);
    font-family: var(--font-family);
    font-size: var(--font-size_16);

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    background-color: var(--section-background-color);
    border: var(--border-style);
    border-radius: 3px;

    width: 80%;
    margin: 40px 0;
    padding: 50px;
}

header > * {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
}

form {
    background-color: var(--section-background-color);
    border: var(--border-style);
    border-radius: 3px;

    width: 80%;
    padding: 30px 50px 20px;
}

.form-row {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='number'] {
    background-color: white;
    border: var(--border-style);
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 1rem - 2px;
}

.form-row label {
    margin-bottom: 1rem;
}

form fieldset {
    border: none;
    margin-bottom: 2rem;
}

form fieldset legend {
    margin-bottom: 15px;
}

form fieldset .radio-label {
    font-size: 1rem - 2px;
    padding: 0 20px 0 10px;
}

.form-row input:valid {
    border: 2px solid green;
}

.form-row input:invalid {
    border: 2px solid red;
}

.form-row button, 
.btnDisplayForm {
    font-size: 1rem;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}

.form-row button:hover, 
.btnDisplayForm:hover {
    background-color: #76AEED;
}
  
.form-row button:active,
.btnDisplayForm:active  {
    background-color: #407FC7;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 10px;

    width: 80%;
    max-height: 60vh;
    overflow-y: auto;
}

.grid-container > .item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    align-items: center;
    gap: 1rem;   

    background-color: var(--section-background-color);
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
}

img {
    width: 60px;
    height: 60px;
}

.item p {
    line-height: 2rem;
}

.item .title, .author {
    font-size: 18px;
    font-weight: bold;
}

.item .delete-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;

    align-self: start;
    justify-self: end;
}

.delete-btn:hover {
    background-color: rgba(247, 56, 56, 0.93);
    border-radius: 5px;
}

.delete-btn:active {
    background-color: rgb(238, 56, 56);
    border-radius: 5px;
}

.dialog {
    width: 80%;
    max-width: 500px;
    padding: 1.5rem;
    background-color: var(--section-background-color);
    border: 2px solid #ccc;
    border-radius: 8px;
    font-family: var(--font-family);
    color: #333;

    margin: 0 auto;
    justify-items: center;
}

.close-dialog-btn {
    width: 40px;
    height: 40px;

    cursor: pointer;
}